/* Custom CSS */
.dark-mode {
  background-color: #444; /* Dark background color */
  color: #fff; /* White text color */
}

.dark-mode input,
.dark-mode select {
  background-color: #555; /* Dark background color for form inputs */
  color: #fff; /* White text color for form inputs */
}

html.dark-mode #root {
  background-color: #444; /* Dark background color */
  color: #fff; /* White text color */
}

html.dark-mode input,
html.dark-mode select,
html.dark-mode textarea {
  background-color: #555; /* Dark background color for form inputs */
  color: #fff; /* White text color for form inputs */
}

html.dark-mode .container,
html.dark-mode .row,
html.dark-mode .col,
html.dark-mode .modal-content {
  background-color: #444; /* Dark background color for containers, rows, and columns */
}

html.dark-mode .error {
  color: #ffcccc; /* Light red color for error messages */
}

html.dark-mode .modal-header,
html.dark-mode .form-label {
  color: #ffffff;
}

.dark-mode .btn-info {
  background-color: #333; /* Dark background color for info buttons */
  border-color: #fff; /* White border color for info buttons */
  color: #fff; /* White text color for info buttons */
}

.dark-mode .btn-primary,
.dark-mode .btn-outline-primary {
  background-color: #007bff; /* Primary color for buttons */
  border-color: #007bff; /* Primary border color for buttons */
  color: #fff; /* White text color for buttons */
}

.dark-mode .btn-dark,
.dark-mode .btn-outline-dark {
  background-color: #343a40; /* Dark color for buttons */
  border-color: #343a40; /* Dark border color for buttons */
  color: #fff; /* White text color for buttons */
}

.form-check {
  justify-content: center;
  display: flex !important;
  gap: 5px;
}

#darkModeSwitch .form-check-label {
  display: flex;
  align-items: center;
}

#darkModeSwitch .form-check-label span {
  margin: 0 0.5 rem;
}

@media (max-width: 576px) {
  /* Apply smaller font size for all elements */
  body,
  h3,
  h4,
  h5,
  h6,
  .blog-intro,
  input,
  button,
  svg {
    font-size: 13px !important;
  }

  .info {
    font-size: 10px !important;
  }

  ul {
    font-size: 8px !important;
  }

  span.input-group-text {
    font-size: 13px !important;
    min-width: 150px !important;
  }
  .h1,
  h1 {
    font-size: calc(1rem + 1.5vw) !important;
  }
  .h2,
  h2 {
    font-size: calc(1rem + 1.5vw) !important;
  }
  .credits {
    margin-right: 30px;
    max-width: 105px;
  }
}

@media (max-width: 768px) {
  /* Apply tooltip on the left for screen widths 768px and below */
  .tooltip.tooltip-left .tooltip-inner {
    margin-right: 3px !important;
    font-size: 30rem !important;
  }
}

/* Add these styles to your CSS file */

/* Make sure html and body take up the full height */
html,
body {
  height: 100%;
  margin: 0;
}

/* Flexbox container to ensure footer is at the bottom */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Flex-grow 1 ensures that the main content area grows to take up remaining space */
.content-wrap {
  flex: 1;
  margin-bottom: 10px;
}

.toggle-icon {
  transition: transform 0.5s, opacity 0.5s;
}

.toggle-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.feedback-button,
.calculate-button {
  transition: background-color 0.3s, transform 0.3s;
}

.feedback-button:hover,
.calculate-button:hover {
  transform: scale(1.05);
}

.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

.form-control:invalid {
  border-color: #dc3545;
  box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}

@keyframes flip {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
    opacity: 0;
  }
  51% {
    opacity: 0;
  }
  100% {
    transform: rotateY(180deg);
    opacity: 1;
  }
}

.flip {
  animation: flip 1s forwards;
}
