.results-divider {
  height: 1px;
  background-color: #ccc; /* Line color */
  margin: 20px 0; /* Top, right, bottom, left */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Add depth */
}

.dark-mode .modal-content {
  background-color: #333; /* Dark background color for modal content */
  color: #fff; /* White text color for modal content */
}

.dark-mode .modal-header,
.dark-mode .modal-footer {
  background-color: #222; /* Dark background color for modal header and footer */
  border-color: #333; /* Dark border color for modal header and footer */
}

.dark-mode .modal-header .dark-mode .modal-title {
  color: #fff; /* White text color for modal title */
}

.dark-mode .modal-header .dark-mode button.close {
  color: #fff; /* White text color for modal close button */
}

.dark-mode .modal-footer .dark-mode button {
  background-color: #555; /* Dark background color for modal footer buttons */
  color: #fff; /* White text color for modal footer buttons */
}
