.results-container {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
}

.result-box {
  flex: 1;
  min-width: 200px; /* Adjust as needed */
  margin: 10px;
  color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}

.affordable {
  background-color: #198754;
}

.unaffordable {
  background-color: #dc3545;
}

.dark-mode .modal-content {
  background-color: #333; /* Dark background color for modal content */
  color: #fff; /* White text color for modal content */
}

.dark-mode .modal-header,
.dark-mode .modal-footer {
  background-color: #222; /* Dark background color for modal header and footer */
  border-color: #333; /* Dark border color for modal header and footer */
}

.dark-mode .modal-header .dark-mode .modal-title {
  color: #fff; /* White text color for modal title */
}

.dark-mode .modal-header .dark-mode button.close {
  color: #fff; /* White text color for modal close button */
}

.dark-mode .modal-footer .dark-mode button {
  background-color: #555; /* Dark background color for modal footer buttons */
  color: #fff; /* White text color for modal footer buttons */
}
